services:
  grafana:
    image: grafana/grafana-oss
    container_name: grafana
    restart: unless-stopped
    environment:
      - "GF_INSTALL_PLUGINS=marcusolsson-csv-datasource"
      - "GF_INSTALL_PLUGINS=marcusolsson-csv-datasource"
    ports:
      - '3000:3000'
    volumes:
      - ./grafana_storage:/var/lib/grafana
      - ../output:/data
      - ./grafana_etc:/etc/grafana/
